@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@200;300;400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

h1 {
  font-size: 6rem;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  background-color: white;
  margin: 0px 30px;
  height: 1px;
  border: none;
}

footer {
  background-color: rgb(24, 24, 24);
  padding-bottom: 40px;
}

h2 {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transition: 1s;
  color: rgb(60, 33, 159)
}

.capa {
  width: 250px;
  border-radius: 7px;
}

.introducao {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(to bottom, rgb(60, 33, 159), rgb(0, 0, 0));
  color: white;
  max-width: 2000px;
  margin: 0 auto;
  padding: 80px 30px 30px;
}

.container-introducao {
  display: flex;
  align-items: end;
  gap: 30px;
}

.playlist {
  max-width: 1800px;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding-bottom: 40px;
}

.container-playlist {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  align-items: end;
  padding: 0px 30px;
  margin-bottom: 5px;
}

.container-musicas {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
}

.musica {
  width: 128px;
  cursor: pointer;
}
.container-album {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
  align-items: center;
}

.setas {
  width: 32px;
  height: 32px;
}

.reproducao {
  height: 4px;
  width: 80%;
}

.minutagem {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
